raw/.vscode/ipch
**/a.exe
a.out
sample_input.in
sample_output.out
**/temp*.cpp
**/temp*.py
sample_input_temp.in
**/input*.in
**/*.out
raw/a.exe
raw/temp.cpp 
raw/temp.h
clip.cpp
output.out
temp.py
eng_test
rust/*
*.pdb
**/*.in
**/*.txt
